//MAP
$breakpoints :
(
  mobil : 576px,
  tablets : 768px,
  desktop : 992px,
  large-desktop : 1200px
);

/*LARGE DESKTOP*/

@mixin large-desktop
{
  @media screen and (min-width: map-get($breakpoints, large-desktop))
  {
    width: 55%;
  }
}


/*DESKTOP*/

@mixin desktop-pages
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    background: rgba(139, 226, 229, 0.84);
    width: 75%;
  }
}

/*CHIC A LA FRANÇAISE*/

@mixin desktop_border_left_entree
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    width: 16%;
    margin-left: 0%;
    margin-top: -4%;
    position: absolute;
  }
}

@mixin desktop_border_right_entree
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 39%;
    margin-top: -4%;
  }
}

/* Note ENCHANTÉE */

@mixin desktop_border_left_note
{
    @media screen and (max-width: map-get($breakpoints, desktop))
    {
      width: 15%;
      margin-top: -3.5%;
      margin-left: 17%;
      position: absolute;
    }
}

@mixin desktop_border_right_note_entree
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 43%;
    margin-top: -3.5%;
  }
}

@mixin desktop_border_left_note_plats
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    width: 15%;
    margin-top: -5%;
    margin-left: 15%;
    position: absolute;
  }
}

@mixin desktop_border_right_note_plats
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 45%;
    margin-top: -5%;
  }
}

@mixin desktop_border_left_note_deserts
{
  @media screen and (max-width: map-get($breakpoints,desktop))
  {
    width: 15%;
    margin-top: -5%;
    margin-left: 13%;
    position: absolute;
  }
}

@mixin desktop_border_right_note_deserts
{
  @media screen and (max-width: map-get($breakpoints,desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 47%;
    margin-top: -5%;
  }
}




@mixin desktop_plats_position /* PROPRIÉTÉES APPLIQUER à TOUTES LES PAGES */
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    justify-content: center;
    //margin-left: -6%;

  }
}




 /*TABLETS*/

/*Index*/

 @mixin main_index_tablets
 {
   @media screen and(max-width: map-get($breakpoints, tablets))
   {
     height: 140vh;
   }
 }

 @mixin main_index_mobil
 {
   @media screen and(max-width: map-get($breakpoints, mobil))
   {
     height: 130vh;
   }
 }


@mixin tablets-pages
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    background: beige;
    width: 85%;

  }
}
//LA nOte Enchantée
@mixin tablets-border-pages-left
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    width: 15%;
    margin-top: -4.5%;
    margin-left: 22%;
    position: absolute;
  }
}

@mixin tablets_plats_position
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    justify-content: space-evenly;
    margin-left: 0;
  }
}

@mixin tablets-border-pages-right
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    position: absolute;
    width: 15%;
    margin-left: 47%;
    margin-top: -4.5%;
  }
}

@mixin tablets-border-page-left-plats
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    width: 15%;
    margin-top: -6%;
    margin-left: 20%;
    position: absolute;
  }
}

@mixin tablets-border-page-right-plats
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    position: absolute;
    width: 15%;
    margin-left: 50%;
    margin-top: -6%;
  }
}

@mixin tablets-border-pages-left-deserts
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    width: 15%;
    margin-top: -6%;
    margin-left: 18%;
    position: absolute;
  }
}

@mixin tablets-border-page-right-deserts
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    position: absolute;
    width: 15%;
    margin-left: 51%;
    margin-top: -6%;
  }
}


// CHIC À LA FRANÇAISE


@mixin desktop_border_left_chic
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    width: 14%;
    margin-left: 12%;
    margin-top: -4%;
    position: absolute;
  }
}

@mixin desktop_border_right_chic
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 49%;
    margin-top: -4%;
  }
}

@mixin tablets_border_left_chic
{
    @media screen and (max-width: map-get($breakpoints, tablets))
    {
      width: 16%;
      margin-left: 12%;
      margin-top: -4%;
      position: absolute;
    }
}

@mixin tablets_border_right_chic
{
    @media screen and (max-width: map-get($breakpoints, tablets))
    {
      position: absolute;
      width: 15%;
      margin-left: 56%;
      margin-top: -4%;
    }
}

// LE DÉLICE DES PAPILLES

@mixin desktop_border_left_delice
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    width: 15%;
    margin-top: -3.5%;
    margin-left: 11%;
    position: absolute;
  }
}

@mixin desktop_border_right_delice
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 49%;
    margin-top: -3.5%;
  }
}

@mixin tablets_border_left_delices
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    width: 15%;
    margin-top: -4%;
    margin-left: 13%;
    position: absolute;
  }
}

@mixin tablets_border_right_delices
{
  @media screen and (max-width: map-get($breakpoints, tablets))
  {
    position: absolute;
    width: 15%;
    margin-left: 55%;
    margin-top: -4%;
  }
}

// La palette du gout à les mêmes mixins que le délice des papilles

/* PALETTE DU GOÛT */

@mixin desktop_border_left_palette
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    width: 15%;
    margin-top: -3%;
    margin-left: 17%;
    position: absolute;
  }
}

@mixin desktop_border_right_palette
{
  @media screen and (max-width: map-get($breakpoints, desktop))
  {
    position: absolute;
    width: 15%;
    margin-left: 42%;
    margin-top: -3%;
  }
}

 @mixin desktop_border_left_palette_plats-deserts
 {
   @media screen and (max-width: map-get($breakpoints, desktop))
   {
     width: 15%;
     margin-top: -3%;
     margin-left: 16%;
     position: absolute;
   }
 }

 @mixin desktop_border_right_palette_plats-deserts
 {
   @media screen and (max-width: map-get($breakpoints, desktop))
   {
     position: absolute;
     width: 15%;
     margin-left: 44%;
     margin-top: -3%;
   }
 }


//MOBIL

@mixin mobil-pages
{
    @media screen and (max-width: map-get($breakpoints, mobil))
    {
      background: orange;
      width: 100%;
    }
}

// La note ENHCANTÉE

@mixin mobil-border-pages-left
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    width: 15%;
    margin-top: -6%;
    margin-left: 30%;
    position: absolute;
  }
}




@mixin mobil-border-pages-right
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    position: absolute;
    width: 15%;
    margin-left: 55%;
    margin-top: -6%;
  }
}

@mixin mobil-border-page-left-plats
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    width: 15%;
    margin-top: -8%;
    margin-left: 26%;
    position: absolute;
  }
}


@mixin mobil-border-page-right-plats
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    position: absolute;
    width: 15%;
    margin-left: 59%;
    margin-top: -8%;
  }
}

@mixin mobil-border-pages-left-deserts
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    width: 15%;
    margin-top: -8%;
    margin-left: 23%;
    position: absolute;
  }
}

@mixin mobil-border-page-right-deserts
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    position: absolute;
    width: 15%;
    margin-left: 61%;
    margin-top: -8%;
  }
}

@mixin mobil_plats_position_note
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    justify-content: center;
    font-size: $fontSizeMobil;
  }
}

//Le chic à la française

@mixin mobil_border_left_chic
{
    @media screen and (max-width: map-get($breakpoints, mobil))
    {
      width: 16%;
      margin-left: 16%;
      margin-top: -6%;
      position: absolute;
    }
}

@mixin mobil_border_right_chic
{
    @media screen and (max-width: map-get($breakpoints, mobil))
    {
      position: absolute;
      width: 15%;
      margin-left: 68%;
      margin-top: -6%;
    }
}

@mixin mobil_plats_position_chic
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    justify-content: center;
    font-size: $fontSizeMobil;
  }
}

//Le délice des papilles

@mixin mobil_border_left_delices
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    width: 15%;
    margin-top: -5%;
    margin-left: 18%;
    position: absolute;
  }
}

@mixin mobil_border_right_delices
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    position: absolute;
    width: 15%;
    margin-left: 66%;
    margin-top: -5%;
  }
}

@mixin mobil_plats_position_delice
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
     justify-content: center;
     font-size:$fontSizeMobil;
  }
}

/*PALETTE DU GOUT ENTREE*/

@mixin mobil_palette_entree
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    justify-content: space-around;
  }
}

@mixin mobil_plats_position_palette
{
  @media screen and (max-width: map-get($breakpoints, mobil))
  {
    justify-content: center;
    font-size: $fontSizeMobil;
  }
}

/*BOUTON*/

@mixin button_tablets
{
  @media screen and(max-width: map-get($breakpoints, tablets))
  {
    width: 30%;
  }
}

@mixin button_mobil
{
  @media screen and(max-width: map-get($breakpoints, mobil))
  {
    width: 40%;
  }
}
