
@import "variables.scss";
@import "mixins.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";
@import "bases/_general.scss";
@import "components/_bouton_effet.scss";
@import "pages/_note_enchantee.scss";
@import "pages/_chic_francaise.scss";
@import "pages/_delices_papilles.scss";
@import "pages/_palette_gout.scss";
@import "pages/_mentions.scss";

    /*GENERAL*/



#container
{
  border: 3px solid chartreuse;
  height: 125vh;
    header, footer
    {
      background: $color_header-footer;
      color: $color_logo;
      font-family: 'Baloo 2', cursive;
    }
      h2
      {
        margin-top: 2%;
        text-align: center;
      }

      /*INDEX*/

      /*HEADER*/




      /*MAIN & MENU CONTAINER*/
      main
      {
        border: 2px solid blue;
        height: 120vh;
        .containerLiens
        {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          overflow: hidden;
          margin-top: 2%;
          .menu__container
         {

           text-align: center;
           /*IMG ANIMATE*/
            .lien__menus
            {
              overflow: hidden;
              .menu__main
              {
                @include border_shadow_menu;
                margin: 2%;
                width: 15%;
                overflow: hidden;
                &:hover
                {
                  transform: scale(1.40);
                  transition: transform 1000ms;
                }
              }
            }
          }
        }
      }

     /*LA Note ENCHANTEE*/


  /*CHIC À LA FRANÇAISE*/


      /*BOUTON*/

        /*EFFET TROIS PETITS POINTS*/
}
