
//Variabes
$color_header-footer:#559a86;
$color_logo: #fcca46;


//MIXINS
@mixin menu_position_taille
{
  width: 55%;
  margin-left: 22%;
  margin-bottom: 2%;
}

@mixin entree_plats_desert_position
{
  display: flex;
  margin-left: 15%;
}

@mixin logo_position
{
  text-align: center;
  margin-top: 5%;
}

//GENERAL

*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
}

a
{
  color: $color_logo;
  text-decoration: none;
}

h3
{
  text-align: center;
}

ul
{
  li
  {
    list-style: none;
    margin: 1% auto;
  }
}

#container
{
  border: 3px solid chartreuse;

    header, footer
    {
      background: $color_header-footer;
      color: $color_logo;
      height: 15vh;
    }
      h2
      {
        margin-top: 2%;
        text-align: center;
      }
//HEADER
      header
      {
        display: flex;
        justify-content: center;
        background: $color_header-footer;

        .header__logo
        {
          margin-top: 1.5%;
        }
        .logo__ohmyfood
        {
          width: 35vh;
        }
      }
//MAIN & MENU CONTAINER
      main
      {
        border: 2px solid blue;
      }

        .menu__container
        {
          margin-left: 30%;
// IMG ANIMATE
            .menu__main
            {
              width: 25%;
              margin: 2% 2% auto;
              &:hover
              {
                transform: scale(1.40);
                transition: transform 1000ms;
              }
            }


        }
//MAIN SECTION


//note ENCHANTEE

  .note_enchantee
  {
    background: #fcdfdb;
    @include menu_position_taille;
    font-family: 'Satisfy', ;

    .section__logo
    {
      @include logo_position;

      .logo__note-enchantee
      {
        width: 20%;
      }

      .logo--note--head
      {
        width: 30%;
      }
    }

    .menu_page
    {
      @include entree_plats_desert_position;
    }
  }


//CHIC À LA FRANÇAISE
  .chic_francaise
  {
    background: #fff5fe;
    @include menu_position_taille;

    .chic_francaise__head
    {
      .section__logo
      {
        @include logo_position;
      }
    }

    .menu_page
    {
      @include entree_plats_desert_position
    }
    .entree--color
    {
      color: #c67412;
    }
    .plats--color
    {
      color: #a56799;
    }
    .deserts--color
    {
      color: #6e4ccc;
    }
  }

  //LE DÉLICE DES PAPILLES
  .delice_papilles
  {
    background: #eceeee;
    @include menu_position_taille;
    font-family: 'Gaegu';

    .delice_papilles__head
    {
      .section__logo
      {
        @include logo_position;
      }
    }
    .menu_page
    {
      @include entree_plats_desert_position;
    }
  }

  //LA PALETTE DU GOÛT
  .palette_gout
  {
    background: #fdfffd;
    @include menu_position_taille;
    font-family: 'Caveat Brush', ;

      .palette_gout__head
      {
        .section__logo
        {
          @include logo_position;
        }
      }
      .menu_page
      {
        @include entree_plats_desert_position;
      }
  }


//MENTIONS LEGALES
        main
        {
          section
          {
            .mentions
            {
              text-align: justify;
              margin: 35px 35px auto;
              width: 50%;
              margin-left: 25%;
              margin-top: 10%;
            }
          }
        }
  // FOOTER
        footer
        {
          display: flex;
          justify-content: space-around;
            a
            {
              margin-top:3%;
            }
        }
      }
//BOUTON
      .btn
        {
          display: flex;
          justify-content: center;
            a
            {
                button
                {
                  background: $color_header-footer;
                  color: $color_logo;
                  width: 40vh;
                  height: 8vh;
                  border: 1px solid $color_header-footer;
                  border-radius: 10px 10px 10px 10px;
                  margin-top: 10%;
                  margin-bottom: 10%;
                  font-size: 1.5em;
                }
            }
        }
