
@import "variables.scss";
@import "mixins.scss";
@import "maps.scss";
@import "responsive.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";
@import "bases/_general.scss";
@import "components/_bouton_effet.scss";
@import "pages/_note_enchantee.scss";
@import "pages/_chic_francaise.scss";
@import "pages/_delices_papilles.scss";
@import "pages/_palette_gout.scss";
@import "pages/_mentions.scss";

    /*INDEX*/



#container
{
  border: 3px solid chartreuse;
  height: 125vh;
    header, footer
    {
      background: $color_header-footer;
      color: $color_logo;
      font-family: 'Baloo 2', cursive;
    }
      h2
      {
        margin-top: 2%;
        text-align: center;
      }

      main
      {
        border: 2px solid blue;
        height: 120vh;

        .menu__container
        {
          display: flex;
          justify-content: space-between;
          .containerLien
          {
		         overflow: hidden;
			     box-shadow: 3px 3px 3px 0px grey;
			     margin:2%;
		       width:250px;
            overflow: hidden;
           .lien__menus
            {
              overflow: hidden;
              display: inline;
              background:red;
                margin:2%;
              .menu__img
              {
                  box-shadow: 3px 3px 3px 3px grey;
                  width:250px;
                  @include border_shadow_menu;
                  cursor: pointer;
                 transition: all 0.4s ease-in-out;
                 backface-visibility: hidden;
                  &:hover
                  {
                  transform: scale(1.4);
                  border:1px solid #000;
                  }
              }
            }
          }
        }
      }
    }
