//Variabes
$color_header-footer:hsla(163, 29%, 47%, 1);
$color_logo: hsla(44, 97%, 63%, 1);

/* NOTe ENCHANTÉE*/
$color_background_note : hsla(7, 85%, 92%, 1);
$color_soulignement_note :hsla(0, 0%, 0%, 1);

/*CHIC À LA FRANÇAISE*/

$background_color_chic :hsla(306, 100%, 98%, 1);

$color_soulignement1 :hsla(33, 83%, 42%, 1);
$color_soulignement2 :hsla(312, 26%, 53%, 1);
$color_soulignement3 :hsla(256, 56%, 55%, 1);


/*DÉLICE DES PAPILLES*/

$color_background_delice :hsla(180, 6%, 93%, 1);

$color_soulignement_delice1 :hsla(230, 98%, 44%, 1);
$color_soulignement_delice2 : hsla(213, 95%, 49%, 1);
$color_soulignement_delice3 :hsla(206, 95%, 55%, 1);

/*PALETTE DU GOÛT*/

$background_color_palette : hsla(120, 100%, 100%, 1);

$color_soulignement_palette : hsla(139, 80%, 43%, 1);
