.btn
  {
    font-family: 'Baloo 2', cursive;
      a
      {
        display: flex;
        justify-content: center;
          .button
          {
            position: absolute;
            margin-top: 2.5%;
            background: $color_header-footer;
            color: $color_logo;
            border: 1px solid $color_header-footer;
            border-radius: 10px 10px 10px 10px;
            font-size: 1.5em;
            width: 20%;
            text-align: center;
            @include button_tablets;
            @include button_mobil;
          }
      }
  }

  .trois_petits_points
  {
    animation-name: trois_petits_points_effet;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }


        @keyframes trois_petits_points_effet
        {

        0% {
          opacity: 0.1;
          width: 100px;
          height: 100px;
          background-size:contain;
        }
        100% {
          opacity: 8;
          width: 500px;
          height: 500px;
          background-size:contain;
        }
      }
