@charset "UTF-8";
/*Zone de recherche*/
/* NOTe ENCHANTÉE*/
/*CHIC À LA FRANÇAISE*/
/*DÉLICE DES PAPILLES*/
/*PALETTE DU GOÛT*/
/* NOTe ENCHANTÉE */
/*DÉLICE DES PAPILLES*/
/*PALETTE DU GOÛT*/
/*LARGE DESKTOP*/
/*DESKTOP*/
/*CHIC A LA FRANÇAISE*/
/*TABLETS*/
/*Index*/
/*PALETTE DU GOUT ENTREE*/
/*BOUTON*/
header {
  display: flex;
  justify-content: center;
  background: #559b87;
  font-family: "Baloo 2", cursive;
}
header .header__logo .logo__ohmyfood {
  text-align: center;
  text-align: center;
  margin-top: 8%;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  font-family: "Baloo 2", cursive;
}
footer a .btn_footer {
  margin-top: 20%;
}
footer a .btn_footer:hover {
  animation: wiggle 1s 1;
}
@keyframes wiggle {
  0% {
    transform: rotate(-8deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  93% {
    transform: rotate(1deg);
  }
}

/*GENERAL*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #fccb45;
  text-decoration: none;
}

/*hover titre note enchantée*/
.titre_note {
  position: relative;
  overflow: hidden;
}
.titre_note:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 40%;
  right: 80%;
  bottom: 0;
  background: black;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_note:hover:before {
  right: 40%;
}

/*hover titre chic à la française*/
.titre_chic_entree {
  position: relative;
  overflow: hidden;
}
.titre_chic_entree:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #c47412;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_chic_entree:hover:before {
  right: 35%;
}

.titre_chic_plats {
  position: relative;
  overflow: hidden;
}
.titre_chic_plats:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #a6689a;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_chic_plats:hover:before {
  right: 35%;
}

.titre_chic_deserts {
  position: relative;
  overflow: hidden;
}
.titre_chic_deserts:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #6e4ccd;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_chic_deserts:hover:before {
  right: 35%;
}

.titre_delice {
  position: relative;
  overflow: hidden;
}
.titre_delice:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #0227de;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_delice:hover:before {
  right: 35%;
}

.titre_delice_plats {
  position: relative;
  overflow: hidden;
}
.titre_delice_plats:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #0671f4;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_delice_plats:hover:before {
  right: 35%;
}

.titre_delice_deserts {
  position: relative;
  overflow: hidden;
}
.titre_delice_deserts:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #1f9bf9;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_delice_deserts:hover:before {
  right: 35%;
}

.titre_palette {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.titre_palette:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 41%;
  right: 60%;
  bottom: 0;
  background: #16c54d;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_palette:hover:before {
  right: 35%;
}

h3 {
  text-align: center;
}

ul li {
  list-style: none;
  margin: 1% auto;
}

.btn {
  font-family: "Baloo 2", cursive;
}
.btn a {
  display: flex;
  justify-content: center;
}
.btn a .button {
  position: absolute;
  margin-top: 2.5%;
  background: #559b87;
  color: #fccb45;
  border: 1px solid #559b87;
  border-radius: 10px 10px 10px 10px;
  font-size: 1.5em;
  width: 20%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .btn a .button {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  .btn a .button {
    width: 40%;
  }
}

.trois_petits_points {
  animation-name: trois_petits_points_effet;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes trois_petits_points_effet {
  0% {
    opacity: 0.1;
    width: 100px;
    height: 100px;
    background-size: contain;
  }
  100% {
    opacity: 8;
    width: 500px;
    height: 500px;
    background-size: contain;
  }
}
/*LA Note ENCHANTEE*/
.note_enchantee {
  background: #fcddd9;
  font-family: "Satisfy";
  width: 55%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 10%;
  box-shadow: 2px 2px 2px 2px grey;
  /*logo croche haut-de-page*/
}
@media screen and (min-width: 1200px) {
  .note_enchantee {
    width: 55%;
  }
}
@media screen and (max-width: 992px) {
  .note_enchantee {
    background: rgba(139, 226, 229, 0.84);
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .note_enchantee {
    background: beige;
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee {
    background: orange;
    width: 100%;
  }
}
.note_enchantee .border_texte .border_texte__left .note_border__svg {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 8%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .note_enchantee .border_texte .border_texte__left .note_border__svg {
    width: 15%;
    margin-top: -4.5%;
    margin-left: 22%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .border_texte .border_texte__left .note_border__svg {
    width: 15%;
    margin-top: -6%;
    margin-left: 27%;
    position: absolute;
  }
}
.note_enchantee .border_texte .border_texte__right .note_border__svg {
  position: absolute;
  width: 15%;
  margin-left: 32%;
  margin-top: -2.5%;
}
@media screen and (max-width: 768px) {
  .note_enchantee .border_texte .border_texte__right .note_border__svg {
    position: absolute;
    width: 15%;
    margin-left: 47%;
    margin-top: -4.5%;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .border_texte .border_texte__right .note_border__svg {
    position: absolute;
    width: 15%;
    margin-left: 55%;
    margin-top: -6%;
  }
}
.note_enchantee .border_texte .border_texte__left--plats {
  width: 15%;
  margin-top: -3.5%;
  margin-left: 7%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .note_enchantee .border_texte .border_texte__left--plats {
    width: 15%;
    margin-top: -6%;
    margin-left: 20%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .border_texte .border_texte__left--plats {
    width: 15%;
    margin-top: -8%;
    margin-left: 23%;
    position: absolute;
  }
}
.note_enchantee .border_texte .border_texte__right--plats {
  position: absolute;
  width: 15%;
  margin-left: 33%;
  margin-top: -3.5%;
}
@media screen and (max-width: 768px) {
  .note_enchantee .border_texte .border_texte__right--plats {
    position: absolute;
    width: 15%;
    margin-left: 50%;
    margin-top: -6%;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .border_texte .border_texte__right--plats {
    position: absolute;
    width: 15%;
    margin-left: 59%;
    margin-top: -8%;
  }
}
.note_enchantee .border_texte .border_texte__left--deserts {
  width: 15%;
  margin-top: -3.5%;
  margin-left: 6%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .note_enchantee .border_texte .border_texte__left--deserts {
    width: 15%;
    margin-top: -6%;
    margin-left: 18%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .border_texte .border_texte__left--deserts {
    width: 15%;
    margin-top: -8%;
    margin-left: 21%;
    position: absolute;
  }
}
.note_enchantee .border_texte .border_texte__right--deserts {
  position: absolute;
  width: 15%;
  margin-left: 34%;
  margin-top: -3.5%;
}
@media screen and (max-width: 768px) {
  .note_enchantee .border_texte .border_texte__right--deserts {
    position: absolute;
    width: 15%;
    margin-left: 51%;
    margin-top: -6%;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .border_texte .border_texte__right--deserts {
    position: absolute;
    width: 15%;
    margin-left: 61%;
    margin-top: -8%;
  }
}
.note_enchantee .section__logo {
  text-align: center;
  margin-top: 8%;
}
.note_enchantee .section__logo .fa-music {
  font-size: 4em;
  margin-top: 2%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #f25a61, #f25e60, #f68267, #f78f6a);
}
.note_enchantee .menu_page {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .note_enchantee .menu_page {
    justify-content: space-around;
    margin-left: -6%;
  }
}
@media screen and (max-width: 768px) {
  .note_enchantee .menu_page {
    justify-content: space-evenly;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .note_enchantee .note-entree, .note_enchantee .note-plats {
    justify-content: space-around;
    width: 476px;
  }
}

/*logo croche-bas-de-page*/
.section__logo__bottom {
  text-align: center;
  margin-top: 8%;
}
.section__logo__bottom .fa-music--bottom {
  font-size: 2em;
  margin-bottom: 5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #f25a61, #f25e60, #f68267, #f78f6a);
}

/*CHIC À LA FRANÇAISE*/
.chic_francaise {
  background: #fff5fe;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 10%;
  box-shadow: 2px 2px 2px 2px grey;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  .chic_francaise {
    width: 55%;
  }
}
@media screen and (max-width: 992px) {
  .chic_francaise {
    background: rgba(139, 226, 229, 0.84);
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .chic_francaise {
    background: beige;
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .chic_francaise {
    background: orange;
    width: 100%;
  }
}
.chic_francaise .chic_francaise__head .section__logo {
  text-align: center;
  margin-top: 8%;
}
.chic_francaise .chic_francaise__head .section__logo .chic_titre_degrader {
  background: -webkit-linear-gradient(#e38913, #b57094, #aa6ab2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic_francaise .border_left_chic {
  width: 16%;
  margin-left: 2%;
  margin-top: -3%;
  position: absolute;
}
@media screen and (max-width: 992px) {
  .chic_francaise .border_left_chic {
    width: 16%;
    margin-left: 0%;
    margin-top: -4%;
    position: absolute;
  }
}
@media screen and (max-width: 768px) {
  .chic_francaise .border_left_chic {
    width: 16%;
    margin-left: 12%;
    margin-top: -4%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .chic_francaise .border_left_chic {
    width: 16%;
    margin-left: 13%;
    margin-top: -6%;
    position: absolute;
  }
}
.chic_francaise .border_right_chic {
  position: absolute;
  width: 15%;
  margin-left: 36%;
  margin-top: -3%;
}
@media screen and (max-width: 992px) {
  .chic_francaise .border_right_chic {
    position: absolute;
    width: 15%;
    margin-left: 39%;
    margin-top: -4%;
  }
}
@media screen and (max-width: 768px) {
  .chic_francaise .border_right_chic {
    position: absolute;
    width: 15%;
    margin-left: 56%;
    margin-top: -4%;
  }
}
@media screen and (max-width: 576px) {
  .chic_francaise .border_right_chic {
    position: absolute;
    width: 15%;
    margin-left: 68%;
    margin-top: -6%;
  }
}
.chic_francaise .menu_page {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .chic_francaise .menu_page {
    justify-content: space-around;
    margin-left: -6%;
  }
}
@media screen and (max-width: 768px) {
  .chic_francaise .menu_page {
    justify-content: space-evenly;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .chic_francaise .chic-plats {
    justify-content: space-around;
    width: 476px;
  }
}
.chic_francaise .entree--color {
  color: #c67412;
}
.chic_francaise .plats--color {
  color: #a56799;
}
.chic_francaise .deserts--color {
  color: #6e4ccc;
}

/*LE DÉLICE DES PAPILLES*/
.delice_papilles {
  background: #eceeee;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 10%;
  font-family: "Gaegu";
  box-shadow: 2px 2px 2px 2px grey;
  height: 100vh;
  /*Lignes Contour Titre*/
}
@media screen and (min-width: 1200px) {
  .delice_papilles {
    width: 55%;
  }
}
@media screen and (max-width: 992px) {
  .delice_papilles {
    background: rgba(139, 226, 229, 0.84);
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .delice_papilles {
    background: beige;
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .delice_papilles {
    background: orange;
    width: 100%;
  }
}
.delice_papilles .delice_papilles__head .section__logo {
  text-align: center;
  margin-top: 8%;
}
.delice_papilles .delice_papilles__head .section__logo .logo_papilles {
  background: -webkit-linear-gradient(#0228dd, #6b6beb, #dbeaf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delice_papilles .border_left_delices .size_border_left_delices {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 4%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .delice_papilles .border_left_delices .size_border_left_delices {
    width: 15%;
    margin-top: -4%;
    margin-left: 13%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .delice_papilles .border_left_delices .size_border_left_delices {
    width: 15%;
    margin-top: -5%;
    margin-left: 18%;
    position: absolute;
  }
}
.delice_papilles .border_right_delices .size_border_right_delices {
  position: absolute;
  width: 15%;
  margin-left: 36%;
  margin-top: -2.5%;
}
@media screen and (max-width: 768px) {
  .delice_papilles .border_right_delices .size_border_right_delices {
    position: absolute;
    width: 15%;
    margin-left: 55%;
    margin-top: -4%;
  }
}
@media screen and (max-width: 576px) {
  .delice_papilles .border_right_delices .size_border_right_delices {
    position: absolute;
    width: 15%;
    margin-left: 66%;
    margin-top: -5%;
  }
}
.delice_papilles .menu_page {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .delice_papilles .menu_page {
    justify-content: space-around;
    margin-left: -6%;
  }
}
@media screen and (max-width: 768px) {
  .delice_papilles .menu_page {
    justify-content: space-evenly;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .delice_papilles .delices-plats {
    justify-content: space-around;
    width: 476px;
  }
}
@media screen and (max-width: 576px) {
  .delice_papilles .delices-entree {
    justify-content: space-around;
    width: 476px;
  }
}
@media screen and (max-width: 576px) {
  .delice_papilles .delices-deserts {
    justify-content: space-around;
    width: 476px;
  }
}

/*LA PALETTE DU GOÛT*/
.palette_gout {
  background: white;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 10%;
  font-family: "Caveat Brush";
  box-shadow: 2px 2px 2px 2px grey;
  height: 100vh;
  /* La section déserts à la même class que les plats */
}
@media screen and (min-width: 1200px) {
  .palette_gout {
    width: 55%;
  }
}
@media screen and (max-width: 992px) {
  .palette_gout {
    background: rgba(139, 226, 229, 0.84);
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .palette_gout {
    background: beige;
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  .palette_gout {
    background: orange;
    width: 100%;
  }
}
.palette_gout .palette_gout__head .section__logo {
  text-align: center;
  margin-top: 8%;
}
.palette_gout .palette_gout__head .section__logo .palette_titre_degrader {
  background: -webkit-linear-gradient(#409241, #5fab54, #97e266, #b7f982);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette_gout .border_palette .img__border_left_palette {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 8%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .palette_gout .border_palette .img__border_left_palette {
    width: 15%;
    margin-top: -4%;
    margin-left: 13%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .palette_gout .border_palette .img__border_left_palette {
    width: 15%;
    margin-top: -5%;
    margin-left: 18%;
    position: absolute;
  }
}
.palette_gout .border_palette .img__border_right_palette {
  position: absolute;
  width: 15%;
  margin-left: 32%;
  margin-top: -2.5%;
}
@media screen and (max-width: 768px) {
  .palette_gout .border_palette .img__border_right_palette {
    position: absolute;
    width: 15%;
    margin-left: 55%;
    margin-top: -4%;
  }
}
@media screen and (max-width: 576px) {
  .palette_gout .border_palette .img__border_right_palette {
    position: absolute;
    width: 15%;
    margin-left: 66%;
    margin-top: -5%;
  }
}
.palette_gout .border_palette .img__border_left_palette--plats {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 6%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .palette_gout .border_palette .img__border_left_palette--plats {
    width: 15%;
    margin-top: -4%;
    margin-left: 13%;
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .palette_gout .border_palette .img__border_left_palette--plats {
    width: 15%;
    margin-top: -5%;
    margin-left: 18%;
    position: absolute;
  }
}
.palette_gout .border_palette .img__border_right_palette--plats {
  position: absolute;
  width: 15%;
  margin-left: 33%;
  margin-top: -2.5%;
}
@media screen and (max-width: 768px) {
  .palette_gout .border_palette .img__border_right_palette--plats {
    position: absolute;
    width: 15%;
    margin-left: 55%;
    margin-top: -4%;
  }
}
@media screen and (max-width: 576px) {
  .palette_gout .border_palette .img__border_right_palette--plats {
    position: absolute;
    width: 15%;
    margin-left: 66%;
    margin-top: -5%;
  }
}
.palette_gout .menu_page {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .palette_gout .menu_page {
    justify-content: space-around;
    margin-left: -6%;
  }
}
@media screen and (max-width: 768px) {
  .palette_gout .menu_page {
    justify-content: space-evenly;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .palette_gout .palette_entree {
    justify-content: space-around;
  }
}

/*MENTIONS LEGALES*/
main section .mentions {
  text-align: justify;
  margin: 35px 35px auto;
  width: 50%;
  margin-bottom: 10%;
}

/*INDEX*/
#container {
  height: 125vh;
}
#container header, #container footer {
  background: #559b87;
  color: #fccb45;
  font-family: "Baloo 2", cursive;
}
#container h2 {
  margin-top: 2%;
  text-align: center;
}
#container #main_index {
  height: 150vh;
}
@media screen and (max-width: 768px) {
  #container #main_index {
    height: 140vh;
  }
}
@media screen and (max-width: 576px) {
  #container #main_index {
    height: 130vh;
  }
}
#container #main_index .menu__container {
  display: flex;
  flex-direction: column;
}
#container #main_index .menu__container .containerLien {
  overflow: hidden;
  box-shadow: 3px 3px 3px 2px grey;
  margin: 2%;
  width: 250px;
  overflow: hidden;
}
#container #main_index .menu__container .containerLien .lien__menus {
  overflow: hidden;
  display: inline;
}
#container #main_index .menu__container .containerLien .lien__menus .menu__img {
  /*width:250px;*/
  width: 100%;
  box-shadow: 2px 2px 2px 2px grey;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  backface-visibility: hidden;
}
#container #main_index .menu__container .containerLien .lien__menus .menu__img:hover {
  transform: scale(1.4);
  border: 1px solid #000;
}
#container #main_index .smallContainer {
  display: flex;
  justify-content: center;
}