* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: #fcca46;
  text-decoration: none;
}

.titre_note {
  position: relative;
  overflow: hidden;
}
.titre_note:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 40%;
  right: 80%;
  bottom: 0;
  background: #000;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_note:hover:before {
  right: 40%;
}

.titre_chic_entree {
  position: relative;
  overflow: hidden;
}
.titre_chic_entree:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #c67412;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_chic_entree:hover:before {
  right: 35%;
}

.titre_chic_plats {
  position: relative;
  overflow: hidden;
}
.titre_chic_plats:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #a56799;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_chic_plats:hover:before {
  right: 35%;
}

.titre_chic_deserts {
  position: relative;
  overflow: hidden;
}
.titre_chic_deserts:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #6e4ccc;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_chic_deserts:hover:before {
  right: 35%;
}

.titre_delice {
  position: relative;
  overflow: hidden;
}
.titre_delice:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 35%;
  right: 80%;
  bottom: 0;
  background: #0228dd;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_delice:hover:before {
  right: 35%;
}

.titre_palette {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.titre_palette:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 41%;
  right: 60%;
  bottom: 0;
  background: #16c34c;
  height: 2px;
  transition: right 0.3s ease-out;
}
.titre_palette:hover:before {
  right: 35%;
}

h3 {
  text-align: center;
}

ul li {
  list-style: none;
  margin: 1% auto;
}

#container {
  border: 3px solid chartreuse;
}
#container header, #container footer {
  background: #559a86;
  color: #fcca46;
  height: 15vh;
  font-family: "Baloo 2", cursive;
}
#container h2 {
  margin-top: 2%;
  text-align: center;
}
#container header {
  display: flex;
  justify-content: center;
  background: #559a86;
  font-family: "Baloo 2", cursive;
}
#container header .header__logo .logo__ohmyfood {
  text-align: center;
}
#container main {
  border: 2px solid blue;
}
#container main .menu__container {
  margin-left: 30%;
}
#container main .menu__container .menu__main {
  width: 25%;
  margin: 2% 2% auto;
}
#container main .menu__container .menu__main:hover {
  transform: scale(1.4);
  transition: transform 1000ms;
}
#container .note_enchantee {
  background: #fcdfdb;
  width: 55%;
  margin-left: 22%;
  margin-bottom: 2%;
  font-family: "Satisfy";
  box-shadow: 2px 2px 2px 2px grey;
}
#container .note_enchantee .border_texte .border_texte__left .note_border__svg {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 8%;
  position: absolute;
}
#container .note_enchantee .border_texte .border_texte__right .note_border__svg {
  position: absolute;
  width: 15%;
  margin-left: 32%;
  margin-top: -2.5%;
}
#container .note_enchantee .border_texte .border_texte__left--plats {
  width: 15%;
  margin-top: -3.5%;
  margin-left: 7%;
  position: absolute;
}
#container .note_enchantee .border_texte .border_texte__right--plats {
  position: absolute;
  width: 15%;
  margin-left: 33%;
  margin-top: -3.5%;
}
#container .note_enchantee .border_texte .border_texte__left--deserts {
  width: 15%;
  margin-top: -3.5%;
  margin-left: 6%;
  position: absolute;
}
#container .note_enchantee .border_texte .border_texte__right--deserts {
  position: absolute;
  width: 15%;
  margin-left: 34%;
  margin-top: -3.5%;
}
#container .note_enchantee .section__logo {
  text-align: center;
  margin-top: 5%;
}
#container .note_enchantee .section__logo .fa-music {
  font-size: 4em;
  margin-top: 2%;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #f25a61, #f25e60, #f68267, #f78f6a);
}
#container .note_enchantee .menu_page {
  display: flex;
  margin-left: 15%;
}
#container .section__logo__bottom {
  text-align: center;
  margin-top: 5%;
}
#container .section__logo__bottom .fa-music--bottom {
  font-size: 2em;
  margin-top: 2%;
  margin-bottom: 5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #f25a61, #f25e60, #f68267, #f78f6a);
}
#container .chic_francaise {
  background: #fff5fe;
  width: 55%;
  margin-left: 22%;
  margin-bottom: 2%;
}
#container .chic_francaise .chic_francaise__head .section__logo {
  text-align: center;
  margin-top: 5%;
}
#container .chic_francaise .chic_francaise__head .section__logo .chic_titre_degrader {
  background: -webkit-linear-gradient(#e38913, #b57094, #aa6ab2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#container .chic_francaise .border_left_chic {
  width: 16%;
  margin-left: 2%;
  margin-top: -3%;
  position: absolute;
}
#container .chic_francaise .border_right_chic {
  position: absolute;
  width: 15%;
  margin-left: 36%;
  margin-top: -3%;
}
#container .chic_francaise .menu_page {
  display: flex;
  margin-left: 15%;
}
#container .chic_francaise .entree--color {
  color: #c67412;
}
#container .chic_francaise .plats--color {
  color: #a56799;
}
#container .chic_francaise .deserts--color {
  color: #6e4ccc;
}
#container .delice_papilles {
  background: #eceeee;
  width: 55%;
  margin-left: 22%;
  margin-bottom: 2%;
  font-family: "Gaegu";
  box-shadow: 3px 3px 3px 3px grey;
}
#container .delice_papilles .delice_papilles__head .section__logo {
  text-align: center;
  margin-top: 5%;
}
#container .delice_papilles .delice_papilles__head .section__logo .logo_papilles {
  /*-o-background-clip: text;
  -o-background: linear-gradient(#0228dd, #6b6beb,#dbeaf4);
  /*-o-text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-background: -webkit-linear-gradient(#0228dd, #6b6beb, #dbeaf4);
  /*-webkit-text-fill-color:transparen;*/
  background: linear-gradient(#0228dd, #6b6beb, #dbeaf4);
  background-clip: text;
}
#container .delice_papilles .border_left_delices .size_border_left_delices {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 4%;
  position: absolute;
}
#container .delice_papilles .border_right_delices .size_border_right_delices {
  position: absolute;
  width: 15%;
  margin-left: 36%;
  margin-top: -2.5%;
}
#container .delice_papilles .menu_page {
  display: flex;
  margin-left: 15%;
}
#container .palette_gout {
  background: #fdfffd;
  width: 55%;
  margin-left: 22%;
  margin-bottom: 2%;
  font-family: "Caveat Brush";
}
#container .palette_gout .palette_gout__head .section__logo {
  text-align: center;
  margin-top: 5%;
}
#container .palette_gout .palette_gout__head .section__logo .palette_titre_degrader {
  background: -webkit-linear-gradient(#409241, #5fab54, #97e266, #b7f982);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#container .palette_gout .border_palette .img__border_left_palette {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 8%;
  position: absolute;
}
#container .palette_gout .border_palette .img__border_right_palette {
  position: absolute;
  width: 15%;
  margin-left: 32%;
  margin-top: -2.5%;
}
#container .palette_gout .border_palette .img__border_left_palette--plats {
  width: 15%;
  margin-top: -2.5%;
  margin-left: 6%;
  position: absolute;
}
#container .palette_gout .border_palette .img__border_right_palette--plats {
  position: absolute;
  width: 15%;
  margin-left: 33%;
  margin-top: -2.5%;
}
#container .palette_gout .menu_page {
  display: flex;
  margin-left: 15%;
}
#container main section .mentions {
  text-align: justify;
  margin: 35px 35px auto;
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
#container .btn {
  display: flex;
  justify-content: center;
  font-family: "Baloo 2", cursive;
}
#container .btn a .button {
  background: #559a86;
  color: #fcca46;
  width: 40vh;
  height: 6vh;
  border: 1px solid #559a86;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 1.5em;
  text-align: center;
}
#container .trois_petits_points {
  animation-name: trois_petits_points_effet;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@keyframes trois_petits_points_effet {
  0% {
    opacity: 0.1;
    width: 100px;
    height: 100px;
    background-size: contain;
  }
  100% {
    opacity: 8;
    width: 500px;
    height: 500px;
    background-size: contain;
  }
}
#container footer {
  display: flex;
  justify-content: space-around;
  font-family: "Baloo 2", cursive;
}
#container footer a {
  margin-top: 3%;
}
#container footer a .btn_footer:hover {
  -webkit-animation: wiggle 1s 1;
  animation: wiggle 1s 1;
}
@keyframes wiggle {
  0% {
    transform: rotate(-8deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  93% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0px);
  }
}