/*GENERAL*/

*
{
box-sizing: border-box;
}

body
{
margin: 0;
}

section
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a
{
color: $color_logo;
text-decoration: none;
}

/*hover titre note enchantée*/
.titre_note
{
@include underligne_note;
}

/*hover titre chic à la française*/
.titre_chic_entree
{
@include underligne_chic_entree;
}

.titre_chic_plats
{
@include underligne_chic_plats;
}

.titre_chic_deserts
{
@include underligne_chic_deserts;
}

.titre_delice
{
@include underligne_delice;
}

.titre_delice_plats
{
  @include underligne_delice_plats;
}

.titre_delice_deserts
{
  @include underligne_delice_deserts;
}

.titre_palette
{
@include underligne_palette;
}

h3
{
text-align: center;
}

ul
{
  li
  {
  list-style: none;
  margin: 1% auto;
  }
}
