
    /*LE DÉLICE DES PAPILLES*/
  .delice_papilles
  {
    background: $color_background_delice;
    @include menu_position_taille;
    font-family: 'Gaegu';
    @include border_shadow_menu;
    height: 100vh;
    @include large-desktop;
    @include desktop-pages;
    @include tablets-pages;
    @include mobil-pages;

    .delice_papilles__head
    {
      .section__logo
      {
        @include logo_position;

        .logo_papilles
        {
          @include delice_logo_size_color;
        }
      }
    }

    /*Lignes Contour Titre*/

    .border_left_delices
    {

      .size_border_left_delices
      {
        @include delice_border_left;
        @include desktop_border_left_delice;
        @include tablets_border_left_delices;
        @include mobil_border_left_delices;
      }
    }

    .border_right_delices
    {
      .size_border_right_delices
      {
        @include delice_border_right;
        @include desktop_border_right_delice;
        @include tablets_border_right_delices;
        @include mobil_border_right_delices;
      }
    }

    .menu_page
    {
      @include entree_plats_desert_position;
      @include desktop_plats_position;
      @include tablets_plats_position;
    }

    .delices-plats
    {
      @include mobil_menu_width;
    }

    .delices-entree
    {
      @include mobil_menu_width;
    }

    .delices-deserts
    {
      @include mobil_menu_width;
    }

  }
