/*LA Note ENCHANTEE*/

.note_enchantee
{
background: #fcdfdb;
@include menu_position_taille;
font-family: 'Satisfy';
@include border_shadow_menu;
@include tablets-pages;


.border_texte
{
 .border_texte__left
 {

   .note_border__svg
   {
     @include note_svg_size_position_left;
     @include tablets-border-pages-left;
   }
 }
 .border_texte__right
 {
   .note_border__svg
   {
     @include note_svg_size_position_right;
     @include tablets-border-pages-right;
   }
 }

 .border_texte__left--plats
 {
   width: 15%;
   margin-top: -3.5%;
   margin-left: 7%;
   position: absolute;
   @include tablets-border-page-left-plats;
 }

 .border_texte__right--plats
 {
   position: absolute;
   width: 15%;
   margin-left: 33%;
   margin-top: -3.5%;
   @include tablets-border-page-right-plats;

 }

 .border_texte__left--deserts
 {
   width: 15%;
   margin-top: -3.5%;
   margin-left: 6%;
   position: absolute;
  @include tablets-border-pages-left-deserts;

 }
 .border_texte__right--deserts
 {
   position: absolute;
   width: 15%;
   margin-left: 34%;
   margin-top: -3.5%;
   @include tablets-border-page-right-deserts;
 }
}

/*logo croche haut-de-page*/
.section__logo
{
 @include logo_position;

   .fa-music
   {
     font-size: 4em;
     margin-top: 2%;
     -o-background-clip: text;
     -o-text-fill-color: transparent;
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-image: linear-gradient(to right, #f25a61, #f25e60,#f68267,#f78f6a);
   }
 }

.menu_page
{
 @include entree_plats_desert_position;
}
}

/*logo croche-bas-de-page*/
.section__logo__bottom
{
 @include logo_position;

.fa-music--bottom
{
 font-size: 2em;
 margin-bottom: 5%;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-image: linear-gradient(to right, #f25a61, #f25e60,#f68267,#f78f6a);
}

}
