/*LA PALETTE DU GOÛT*/

.palette_gout
{
background: $background_color_palette;
@include menu_position_taille;
font-family: 'Caveat Brush', ;
@include border_shadow_menu;
height: 100vh;
@include large-desktop;
@include desktop-pages;
@include tablets-pages;
@include mobil-pages;

  .palette_gout__head
  {
    .section__logo
    {
      @include logo_position;

      .palette_titre_degrader
      {
        @include palette_logo_size_color
      }
    }
  }

  .border_palette
  {
    .img__border_left_palette
    {
      @include palette_border_left_entree;
      @include desktop_border_left_palette;
      @include tablets_border_left_delices;
      @include mobil_border_left_delices;
    }
    .img__border_right_palette
    {
      @include palette_border_right_entree;
      @include desktop_border_right_palette;
      @include tablets_border_right_delices;
      @include mobil_border_right_delices;
    }
    .img__border_left_palette--plats
    {
      @include palette_border_left_plats;
      @include desktop_border_left_palette_plats-deserts;
      @include tablets_border_left_delices;
      @include mobil_border_left_delices;
    }
    .img__border_right_palette--plats
    {
      @include palette_border_right_plats;
      @include desktop_border_right_palette_plats-deserts;
      @include tablets_border_right_delices;
      @include mobil_border_right_delices;
    }
  }

  /* La section déserts à la même class que les plats */

  .menu_page
  {
    @include entree_plats_desert_position;
    @include desktop_plats_position;
    @include tablets_plats_position;
    @include mobil_plats_position_palette;
  }
  // .palette_entree
  // {
  //   @include mobil_palette_entree;
  // }
}
